<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
</head>
<body>
        <h1>Login</h1>
    <form id="loginForm">
        <p> username <input type="text" id="username" aria-label="username" /></p>
        <p> password <input type="password" id="password" aria-label="password"/></p>
        <button type="button" id="loginBtn">login</button>
        <button type="button" id="registerBtn">register</button>
    </form>      
    <div id="hiddenLoginText" style="display: none;">Wrong username or password</div>
    <div id="hiddenRegisterText" style="display: none;">Username already taken</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
 // disable form
 $("#loginForm").submit(function (e) {
        e.preventDefault();
 }
 )
 // create new login handler
 $("#loginBtn").click(function (e) {
        e.preventDefault();

        let username = $("#username").val();
        if (username == "") {
            $("#username").css("border-color", "red");
            return;
        }

        let password = $("#password").val();
        if (password == ""){
            $("#password").css("border-color", "red");
            return;
        }

        $.ajax({
          url: "/login",
          method: "POST",
          data: {
            username: username,
            password: password
          },
          dataType: "text",
        })
          .done(function (data) {
            console.info("logged in:", data);
            var hidden = document.getElementById("hiddenLoginText");
            if(data!="failed"){
              hidden.style.display = "none";
              window.location.href ="/main?sessionId=" + data;
            }
            else
              hidden.style.display = "block";
          })
          .fail(function (jqXHR, textStatus, errorThrown) {
            console.error(jqXHR, textStatus, errorThrown);
          });
      });

  // create new register handler
 $("#registerBtn").click(function (e) {
        e.preventDefault();

        let username = $("#username").val();
        if (username == "") {
            $("#username").css("border-color", "red");
            return;
        }

        let password = $("#password").val();
        if (password == ""){
            $("#password").css("border-color", "red");
            return;
        }

        $.ajax({
          url: "/register",
          method: "POST",
          data: {
            username: username,
            password: password
          },
          dataType: "text",
        })
          .done(function (data) {
            console.info("registered: ", data);
            var hidden = document.getElementById("hiddenRegisterText");
            if(data=="username already exists"){
              hidden.style.display = "block";
              document.getElementById("username").focus();
            }
            else{
              hidden.style.display = "none";
              document.getElementById("loginBtn").click();
            }
          })
          .fail(function (jqXHR, textStatus, errorThrown) {
            console.error(jqXHR, textStatus, errorThrown);
          });
      });

//focus first input field
document.getElementById("username").focus();

//make button react to Enter
document.getElementById("password").addEventListener("keypress", function(event){
  if(event.key === "Enter") {
    event.preventDefault();
    document.getElementById("loginBtn").click();
  }
});

document.getElementById("username").addEventListener("keypress", function(event){
    if(event.key == "Enter"){
        event.preventDefault();
        document.getElementById("password").focus();
    }
});

</script>
</body>
</html>

