<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Main</title>
</head>
<body>
    <!-- Subjects-->
    <p>Subjects</p>
    <p>
      <form method="POST" action="/main/addSubject">
        <input type="text" name="name" id="subjectName">
        <input type="submit" value="add" id="addSubjectBtn">
      </form>
    </p>
    <table id= subjectTable></table>
        <tbody>
            <tr th:each="subject: ${subjects}">
              <p>
                <form method="GET" th:action="@{/subject?subjectId=${subject.id}}">
                  <td th:text="${subject.name}"></td>
                  <input type="hidden" name="subjectId" th:value="${subject.id}">
                  <input type="submit" value="select">
                  <input type="submit" value="delete" formaction="/main/deleteSubject" formmethod="post">
                </form>
              </p>
            </tr>
        </tbody>
    </table>
    <div th:replace="~{logoutButton}"></div>
</body>
</html>