<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
  <style>
    .subjectSelectionButton {
        position: absolute;
        top: 0;
        right: 80px;
        font-size: large;
    }
  </style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${subject.name}"></title>
</head>
<body>
    <p th:text="${subject.name}"></p>
    <p th:text="|average Grade= ${averageGrade}|"></p>
    <p th:text="|best possible Grade= ${bestPossibleGrade}|"></p>
    <p th:text="|worst possible Grade= ${worstPossibleGrade}|"></p>
    <!-- Modules-->
    <p>Modules</p>
    <p>
      <form id="moduleForm">
        <input type="text" id="moduleName" aria-label="moduleName" placeholder="Enter module Name">
        <input type="text" id="gradingFactor" aria-label="gradingFactor" placeholder="Enter gradingFactor">
        <input type="number" id="grade" name="grade" min="1" max="4" step="0.1" placeholder="Enter grade" style="width: 200px;">
        <button type="button" id="addModuleBtn">add</button>
      </form>
      <div id="hiddenModuleTextWrongSymbol" style="display: none;">the gradingFactor can only consist of the following symbols: 0123456789+-*/%eE(),.</div>
      <div id="hiddenModuleTextWrongSyntax" style="display: none;">the gradingFactor has to be a correct mathematical expression</div>
      <div id="hiddenModuleTextWrongNumber" style="display: none;">the gradingFactor has to be between 0 and 1</div>

    </p>
    <table id= moduleTable style="border: 1px solid black;">
        <tbody>
            <tr th:each="module: ${subject.modules}" style="border: 1px solid black;">
                    <td th:text="${module.name}" style="border: 1px solid black;">
                    <td style="border: 1px solid black;"> grade 
                    <td>
                      <form method="POST" action="/main/addGrade">
                        <input type="hidden" name="moduleId" th:value="${module.id}">
                        <input type="number" name="grade" th:value="${module.grade}" min="1" max="4" step="0.1">
                        <input type="submit" value="save">
                      </form>
                    </td>
                    <td style="border: 1px solid black;"> gradingFactor
                    <td th:text="${module.gradingFactor}" style="border: 1px solid black;" class="gradingFactorText">
                    <td>
                      <form method="POST" action="/main/deleteModule">
                        <input type="hidden" name="moduleId" th:value="${module.id}">
                        <input type="submit" value="delete">
                      </form>
                    </td>
            </tr>
        </tbody>
    </table>
  <button type="button" class="subjectSelectionButton" onclick="window.location.href='/'">subject selection</button>
  <div th:replace="~{logoutButton}"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/browse/mathjs@12.4.0/"></script>
<script>
$("#addModuleBtn").click(function () {
       let moduleName = $("#moduleName").val();
       let inputGradingFactor = $("#gradingFactor").val();
       let grade = $("#grade").val();
       if(moduleName==""){
          $("#moduleName").css("border-color", "red");
       }
       if(inputGradingFactor==""){
          $("#gradingFactor").css("border-color", "red");
          return;
       }
       if(grade==""){
          $("#grade").css("border-color", "red");
       }

       let gradingFactor = -1;
       var hidden = document.getElementById("hiddenModuleTextWrongSymbol");
       var hidden2 = document.getElementById("hiddenModuleTextWrongSyntax");
       var hidden3 = document.getElementById("hiddenModuleTextWrongNumber");

       //check if the input is valid
      if(!inputGradingFactor.match(/^[-+*/%eE(),.0-9]+$/)){
        console.info("not a valid input")
        hidden.style.display = "block";
        return;
      }

      //replace , with .
      inputGradingFactor = inputGradingFactor.replaceAll(",",".");

      //replace % with /100
      inputGradingFactor = inputGradingFactor.replaceAll("%","/100");

      //evaluate the string
       try{
         gradingFactor =eval(inputGradingFactor);       
       } catch(error){
        console.info("syntax not correct");
        hidden2.style.display = "block";
        return;
       }

       //check if gradingFactor between 0 and 1
       if(gradingFactor<0 || gradingFactor>1){
          console.info("number not between 0 and 1");
          hidden3.style.display = "block";
          return;
       }

       hidden.style.display = "none";
       hidden2.style.display = "none";
       hidden3.style.display = "none";
      
       //send request to server
       $.ajax({
         url: "/main/addModule",
         method: "post",
         data: {
            name: moduleName,
            gradingFactor: gradingFactor,
            grade: grade,
            subjectId: "[[${subject.id}]]",
         },
         dataType: "text",
       })
       .done(function (response) {
        if(response=="success")
          location.reload();
        else
          window.location.href = "/"
       })
         .fail(function (jqXHR, textStatus, errorThrown) {
           console.error(jqXHR, textStatus, errorThrown);
         });

});  

//make buttons react to Enter
document.getElementById("grade").addEventListener("keypress", function(event){
  if(event.key === "Enter") {
    event.preventDefault();
    document.getElementById("addModuleBtn").click();
  }
});
document.getElementById("gradingFactor").addEventListener("keypress", function(event){
  if(event.key === "Enter") {
    event.preventDefault();
    document.getElementById("grade").focus();
  }
});

document.getElementById("moduleName").addEventListener("keypress", function(event){
  if(event.key === "Enter") {
    event.preventDefault();
    document.getElementById("gradingFactor").focus();
  }
});

//show fractions as fractions
document.querySelectorAll(".gradingFactorText").forEach((item)=> {
  let value = parseFloat(item.textContent);
  if(value==1)
    return;
  for(let i=2; i<10000; i++){
      let numerator = value*i;
      let nearestInteger = Math.round(numerator);
      let difference = Math.abs(numerator-nearestInteger);
      if(nearestInteger!==0 && difference < 0.1**10){
        item.textContent=nearestInteger+"/"+i;
        break;    
    }
  }
})


</script>
</body>
</html>